@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /*========== Colors ==========*/
  /* Change favorite color - Blue 210 - Purple 250 - Green 142 - Pink 340*/
  --hue-color: 210;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 96%, 54%);
  --first-color-light: hsl(var(--hue-color), 96%, 69%);
  --first-color-alt: hsl(var(--hue-color), 96%, 37%);
  --first-color-lighter: hsl(var(--hue-color), 14%, 96%);
  --title-color: hsl(var(--hue-color), 12%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #FFF;
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: 'Lato', sans-serif;
    --biggest-font-size: 1.75rem;
    --normal-font-size: .938rem;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #d7e6f5;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  padding-top: 0px;
  max-width: 1024px;
  margin-bottom: 50px;
 
}

.grid {
  display: grid;
}

/*==================== CARD PRICING ====================*/

.card__container{
  grid-template-columns: repeat(4, 1fr);

  align-items: center;
  position: relative;

}
.card {
  padding: 3rem 0;
}

.card__container {
  gap: 3rem 1.25rem;
}


.card__content {
  height: auto;
  width: 350px;
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  border-radius: 1.75rem;
  box-shadow: 0 12px 24px hsla(var(--hue-color), 61%, 16%, 0.1);
  transition: .4s;
}

.card__content:hover {
  box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.15);
}

.card__header-img {
  width: 183px;
  height: 84px;
  position: relative;
  right: -21px;
  size: 20px;
  margin-bottom: 29px;
  align-items: center;
}




.card__header-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-transform: uppercase;
  margin-bottom: var(--mb-0-25);
}

.card__header-title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
  position: relative;
  left: 27px;
}





.card__list {
  row-gap: 1rem;
  position: relative;
  top: 16px;
  margin-bottom: var(--mb-2);
}

.card__list-item {
  
  
  align-items: center;
}



.card__button:hover {
  box-shadow: 0 12px 24px hsla(var(--hue-color), 97%, 54%, 0.2);
}

.Dbtn2 {
  position: relative;
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: black;
  border-radius: 10px;
  text-transform: capitalize;
  transition: 0.3s;
  margin-top: 40px;
  border: none;
}
.Dbtn2:hover{
  background-color: #d7e6f5 !important; 
  color: #000 !important;
  border: none;

}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 320px) {
  /* .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  } */
  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__content {
    padding: 2rem 1.25rem;
    border-radius: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__content {
    grid-template-rows: repeat(1, max-content);
  }
  .card__button {
    align-self: flex-end;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    height: 100vh;
    align-items: center;
  }
  .card__container {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0px;
    align-items: center;
    position: relative;
    right: 217px;
  }
  .card__header-circle {
    margin-bottom: var(--mb-1-25);
  }
  .card__header-subtitle {
    font-size: var(--small-font-size);
  }
}